<h1>Gestion</h1>
<a href="..">retour</a>

<table>
    <thead>
      <tr>
        <th>nom</th>
        <th>prenom</th>
        <th>rfid</th>
        <th>nombre de passages</th>
        <th>est autorisé</th>
        <th>suppression</th>
      </tr>
    </thead>
    <tbody>
        {% for utilisateur in utilisateurs %}
        <tr>
          <td>{{utilisateur.nom}}</td>
          <td>{{utilisateur.prenom}}</td>
          <td>{{utilisateur.rfid}}</td>
          <td>{{utilisateur.nombrePassage}}</td>
          <td><form action="{% url 'changement_autorisation' utilisateur.id %}" method="post">
            {% csrf_token %}
            <input onchange=this.form.submit() type="checkbox" name="is_permitted" id="is_permitted" value="{{user.estAutorise}}"
            {% if utilisateur.estAutorise%} checked {% endif %}>
            
          </form></td>
          <td><form method="post" action="{% url 'supprimer_user' utilisateur.id %}">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('vous êtes sûr de vouloir supprimer cet utilisateur ?')">supprimer</button></form></td>
        </tr>
        {%endfor%}
    </tbody>
</table>


<style>
    .container {
      text-align: center;
      /* Centrer le contenu horizontalement */
    }
  
    table {
      border-collapse: collapse;
      border: 2px solid rgb(140, 140, 140);
      font-family: sans-serif;
      font-size: 0.8rem;
      letter-spacing: 1px;
    }
  
    table.container {
      margin: 0 auto;
    }
  
    caption {
      caption-side: bottom;
      padding: 10px;
      font-weight: bold;
    }
  
    thead,
    tfoot {
      background-color: rgb(228, 240, 245);
    }
  
    th,
    td {
      border: 1px solid rgb(160, 160, 160);
      padding: 8px 10px;
    }
  
    td:last-of-type {
      text-align: center;
    }
  
    tbody>tr:nth-of-type(even) {
      background-color: rgb(237, 238, 242);
    }
  
    tfoot th {
      text-align: right;
    }
  
    tfoot td {
      font-weight: bold;
    }
  </style>
